<!DOCTYPE html>
<html>
<head>
<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
</head>
<body>

<h1>Please select an option</h1>


<div class="form-check">
<a href="https://kirtinew.herokuapp.com/add/form" target="_blank">Update Holidays</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://kirtinew.herokuapp.com/add/calendar" target="_blank">Update Calendar</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://kirtinew.herokuapp.com/add/event" target="_blank">Update Events</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://kirtinew.herokuapp.com/add/timetable" target="_blank">Update Time table</a> 
<br>
<br>
</div>
<div class="form-check">
<a href="https://kirtinew.herokuapp.com/add/schedule" target="_blank">Update Exam Schedule</a> 
<br>
<br></div>
<div class="form-check">
<a href="https://kirtinew.herokuapp.com/add/syllabus" target="_blank">Update Syllabus</a> 
</div>
</body>
</html>
