<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio">add a holiday
    <a href="https://kirtinew.herokuapp.com/add/form">add a holiday</a>
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio">Option 2
  </label>
</div>
<div class="form-check disabled">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio" disabled>Option 3
  </label>
</div>